<div id="sidebar">
  <p id="sidebar-header">
    Whenever I see an animal, I like to take pictures of them and find out what they are. 
    <br />
    <br />
    That's literally it.
  </p>

  <p id="sidebar-text">(I also code, too! If you're interested, check out my <a href="http://xcjackpan.me">main website!</a>)<p>
</div>