<p id="title">
  <% if @filter.present? %>
    <%= @filter.downcase %>
  <% else %>
    All the critters.
  <% end %>
</p>

<%= render 'filters' %>

<div class="row">
  <% if @num_per_column != 0 %>
    <% @photos.each_slice(@num_per_column) do |subarray| %>
      <div class="column">
        <% subarray.each do |photo| %>
          <% if photo.present? %>
            <%= render 'display', :locals => {:name => photo.name, 
                                              :scientific => photo.scientific, 
                                              :reference => photo.reference,
                                              :location => photo.location,
                                              :key => photo.key} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'sidebar' %>