// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  font-size: 60px;
  font-weight: bolder;
  margin: 2vh 2.5vw;
}

#filter-box {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.5vw;
  margin-top: 2vh;
  color: #a9a9a9;
}

.filter a {
  text-decoration: none;
  color: #a9a9a9;
}

.filter a:hover {
  cursor: pointer;
  color: black;
}

.clicked {
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0 1vw;
  width: 65vw;
}

.column {
  flex: 50%;
  padding: 0 0.5vw;
}

.display_image {
  vertical-align: middle;
  width: 100%;
  padding: 0.5vh 0.5vh;
}

#sidebar {
  -webkit-box-shadow: -4px 0px 5px -1px rgba(0,0,0,0.31);
  -moz-box-shadow: -4px 0px 5px -1px rgba(0,0,0,0.31);
  box-shadow: -4px 0px 5px -1px rgba(0,0,0,0.31);
  position: fixed;
  width: 30vw;
  height: 100vh;
  right: 0%;
  top: 0%;
}

#sidebar-header {
  padding: 1vh 2vw;
  font-weight: bold;
  font-size: 20px;
}